
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{pageTitle}}
        </title>
    </head>
        
    <body>
        {{> header}}
        <p>{{scream WelcomeMessage}}</p>
        <p>
            Nome : {{name}}
        </p>
        <p>Like : </p>
        <p>{{likes}}</p>
        <p>{{likes}}</p>
      
       {{> footer}}
    </body>
        
</html>